@import url("https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&family=Montserrat:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------------------ Base Styles ------------------------ */
@layer base {
  body {
    @apply bg-indigo-50/20;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  h1 {
    @apply text-gray-700 font-semibold md:leading-[4.2rem] leading-[2.2rem] md:text-6xl text-[30px];
  }
  h2 {
    @apply text-gray-700 font-semibold md:leading-[3.8rem] leading-[2rem] md:text-5xl text-[25px];
  }
  h3 {
    @apply text-gray-700 font-bold md:leading-[3.5rem] leading-[2.2rem] md:text-3xl text-[18px];
  }
  h4 {
    @apply text-gray-700 font-semibold md:leading-[3.2rem] leading-[2rem] md:text-xl text-[15px];
  }
  p {
    @apply text-gray-600 md:text-sm text-xs;
  }
}

.custom-scrollbar {
  overflow-y: auto;
  overflow-x: auto;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  @apply rounded-lg bg-transparent my-5;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply rounded-lg bg-indigo-400/40;
}
.invisible-scrollbar::-webkit-scrollbar {
  width: 1px;
}
.invisible-scrollbar::-webkit-scrollbar-track {
  @apply rounded-sm bg-transparent;
}
.invisible-scrollbar::-webkit-scrollbar-thumb {
  @apply rounded-sm bg-transparent;
}
/* ------------------------ // Base Styles ------------------------ */
